# -------------------
# IntelliJ IDEA
# -------------------
/.idea/
/*.iml
/out/

# -------------------
# Maven
# -------------------
/target/
!.mvn/wrapper/maven-wrapper.jar

# -------------------
# Logs
# -------------------
*.log

# -------------------
# Sistema operativo
# -------------------
.DS_Store
Thumbs.db

# -------------------
# Otros
# -------------------
# Archivos temporales
*.tmp
*.swp
*~

# Compilados de Java
*.class